@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #37210b;
  --primary-dark: #271708;
  --accent-1: #d4af37;
  --accent-2: #c67b28;
  --text: #eee;
  --white: #fff;
}

body {
  color: var(--text);
  background: var(--primary);
}

a:hover {
  color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}
